@font-face {
    font-family: 'Poppins';
    font-weight: 900;
    font-style: normal;
    src: url('../assets/fonts/Poppins-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-weight: 900;
    font-style: italic;
    src: url('../assets/fonts/Poppins-BlackItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-weight: bold;
    font-style: normal;
    src: url('../assets/fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-weight: bold;
    font-style: italic;
    src: url('../assets/fonts/Poppins-BoldItalic.ttf') format('truetype');
}


@font-face {
    font-family: 'Poppins-lighter';
    font-weight: lighter;
    font-style: italic;
    src: url('../assets/fonts/Poppins-Light.ttf') format('truetype');
}